body{
    background: url("skate-kitchen.webp");
    color: white;
    font-family: monospace;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(203, 153, 26)
}

ul{
    font-size: 30px;
}

blockquote{
    font-size: 25px;
}

p{
    font-size: 25px;
}
img{
    text-align: center;
}

.center-me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}